@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Bitter');

* {
    margin:0;
    padding:0;
}

header {
    background-color:rgb(194, 243, 217); /* sets the background colour for the header */
    border-radius: 15px;  /* found this in recommended list and liked it, it makes the corners round */
    border-style: groove; /* found this too in the list and also liked, it's the outer border line style */
    border-color: black; /* sets the border's outer line colour */
    padding: 25px;
    margin-top: 10px;
    text-align: center; /* aligns the header on center */
    column-span: all; /* spans the header over all columns; it does not get included in the column layout */
}

body{ 
    background-color:  rgb(243, 243, 243); /* sets the background colour for the body */
    text-align: justify; /* aligns the text so it occupies the whole row */
    margin-bottom: 50px;
    height: 100vh;
}

header h1 a {
    font-family: 'Audiowide', serif; /* sets the font to one found on Google Fonts */
    font-size: 60px; /* sets text size */
    color: rgb(39, 39, 34); /*sets text colour*/
    text-decoration: none; /* gets rid of the underline */
    text-align: center; /* centers the text*/
  
}

strong {
    font-size: 20px;
    color: black;
    text-decoration: none; /* gets rid of the underline */
    padding: 10px;
    font-family: 'Audiowide', serif;
}

.left i {
  display: block; /* displays the text as a block of text*/
  font-size: 5px;
}

.left i:hover {
  font-size: 20px; /* set the font size of text when it is hovered on */
}

.left {
  float: left;
  font-family: 'Bitter', serif;
  background-color: rgb(202, 202, 202);
  margin: 5px;
  width: 200px; /* set the width and of the float box */
  height: 100px; /* set the height of the float box */
  border-radius: 5px; /* makes the corners round */
  border-style: groove; /* sets the style of the box border */
  border-color: black;
  padding: 15px;
  font-size: 20px;
} 

nav {
    background-color:#1E392A; /* set the background color of the navigation bar */
    padding: 10px;
    text-align: center; /* align the text from the navigation bar */
    border-style: outset; /* sets the style for the border */
    border-radius: 20px; /* set the border's corners' roundness */
  }
  
nav ul {
    list-style-type: none; /* hides styles for lists */
    margin: 0px;
    padding: 0px;
    display: inline-block; /* displays the*/
}
  
nav li {
    float: left; /* sets the navigation bar items in a line from left to right */
    margin-right: 0px;
    border-right: 1px solid rgb(255, 255, 255);
    padding:0 30px;
}
  
li:last-child {
    border-right: none;  /* deletes the border on the right side of the last element in the list */
}
  
li a {
    text-decoration: none; /* gets rid of the underlines */
    color: #3CC47C;
    font-family: 'Audiowide', serif;
    text-transform: uppercase; /* sets the text to be all uppercase */
    font-size: 25px;
}
  
li a:hover {
    color: rgb(255, 255, 255);  /* changes the colour of the list item when it is hoverd on */
}
  
li.active a {
    font-weight: bold;  /* changes how the text looks on the selected item from the list */
    color: rgb(220, 220, 220); /* changes the colour of the list item that is selected */
}

h3 {
    clear: both;
    color: rgb(15, 15, 15);
    font-family: 'Bitter', serif;
    font-size: 24px;
    line-height:20px;
}

p {
    clear: both; /* clears the text from appearing next to a floating element */
    color: rgb(15, 15, 15);
    font-family: 'Crimson Text', serif;
    font-size: 18px;;	
    line-height: 20px;
    text-align: justify; /* alligns the text to occupy the whole row */
}

i.little{
    display: block; /* displays the text as a block of text*/
    font-size: 5px;
}
i.little:hover{
    font-size: 20px; /* changes the font size of the text when it is hovered on */
}

ul {
    list-style-type: circle; /* changes the list bullet style */
    margin: 0px;
    padding: 0px;
    display: inline-block; /* displays the items in a single block */
}

body img {
    column-span: all; /* extends the image over the columns */
    width: 100%; /* the image will always be fully seen, occupying the space from the left to the right, even when the window is resized */
    height: 25%;

}

h3.all {
    text-align: center; /* aligns the text on center */
    column-span: all; /* extends the text over the columns */
}
a {
    color: rgb(151, 0, 0);
}

footer  {			
    background-color:#444; /* sets the footer background colour */
    font-family:  'Audiowave', serif;	
    column-span:all; /* extends the footer over the columns */
    text-align: center; /* centrates the text */
    position: static; /* fixes the footer on the bottom of the screen */
    height: 50px; /* sets the height of the footer */
    width: 100%;
    overflow-y: scroll; /* scrollable only vertically */
    padding: 20px;
}
footer::-webkit-scrollbar { /* Hide the footer scrollbar in Chrome*/
    display: none;
    }

footer ul {
    list-style-type: none; /* hides styles for lists */
    margin: 0px;
    padding: 0px;
    display: inline-block; /* displays the list items in a single line block*/
}

footer li {
    float: left; /* sets the navigation bar items in a line from left to right */
    margin-right: 0px;
    border-right: 1px solid rgb(255, 255, 255);
    padding:0 30px;
}

footer h6 a {
    font-size: 15px;
    color:  #3CC47C; /* sets the footer header colour */
    text-decoration: none; /* gets rid of all decorations on the text (the underline) */
    font-family: 'Audiowide', serif;
}

/* Breakpoints */ 

/* the "!important" rule overrides particular properties */

@media all and (min-width: 1920px) { 

    body {
        font-size: 100%;
    }
    header {
        margin: 0 0.5% 2% 0.5% !important;
    }
    footer {
        margin: 2% 0.5% 1% 0.5% !important;
    }
    article {
        position: relative;
        margin:	auto;
        width:	75%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 25px;
        padding-bottom: 2em;
        column-count: 5;
        column-gap: 2em;	
        column-rule: 2px dotted #ccc;
    }
}

@media all and (max-width: 1919px) and (min-width: 1680px) {
    body {
        font-size: 100%;
    }
    header {
        margin: 0 0.66% 2% 0.66% !important;
    }
    article {
        position: relative;
        margin: auto;
        width: 80%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2em;
        padding-bottom: 2em;
        column-count: 5;
        column-gap: 3em;	
        column-rule: 1px dotted #ccc;
    }
    
}	

@media all and (max-width: 1679px) and (min-width: 1300px) {
    body	{
        font-size: 100%;
    }
    header	{
        margin: 0 1% 2% 1% !important;
    }
    article {
        position: relative;
        margin: auto;
        width: 85%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2em;
        padding-bottom: 2em;
        column-count: 4;
        column-gap: 3em;	
        column-rule: 1px dotted #ccc;
    }
    
}

@media all and (max-width: 1299px) and (min-width: 1020px) {
    body	{
        font-size: 95%;
    }
    header	{
        margin: 0 1% 2% 1% !important;
    }
    article {
        position: relative;
        margin: auto;
        width: 90%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2em;
        padding-bottom: 2em;
        column-count: 3;
        column-gap: 2em;	
        column-rule: 1px dotted #ccc;
    }
    
}

@media all and (max-width: 1019px) and (min-width: 800px) {
    body	{
        font-size: 90%;
    }
    header	{
        margin: 1% 2% 6% 2%;
        padding: 0 0 2% 0
    }
    article {
        position: relative;
        margin: 4% 5%;
        width: 90%;
        padding: 0;
        column-count: 2;
    }
    
}

@media all and (max-width: 799px) and (min-width: 480px) {
    body	{
        font-size: 85%; 
    }
    header	{
        margin: 1% 2% 6% 2%;
        padding: 0 0 2% 0
    }
    article {
        position: relative;
        margin:	4% 5%;
        width: 90%;
        padding: 0;
        column-count: 2;
    }
    
}

@media all and (max-width: 479px){
    body {
        font-size: 80%;
    }
    header {
        margin: 1% 2% 6% 2%;
        padding: 0 0 2% 0;
    }
    article {
        position: relative;
        margin: 4% 3%;
        width: 94%;
        padding: 0;
        column-count: 1;
    }
    
}
